<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SGPA- Sistema de emissão de senha</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <!-- angularjs 1.5.6 -->
    <script src="public/lib/angular-1.5.6/angular.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-route.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-animate.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-aria.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-sanitize.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-messages.min.js"></script>
    <script src="public/lib/angular-1.5.6/angular-resource.min.js"></script>
    <!-- angularjs material 1.1.0 -->
    <script src="public/lib/material-angularjs-1.1.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="public/lib/material-angularjs-1.1.0/angular-material.min.css">
    <!-- controler angularjs/module -->
    <script src="public/js/app.js"></script>
    <!-- controllers -->
    <script src="public/js/controllers/home.js"></script>
    <script src="public/js/controllers/servicos.js"></script>
    <script src="public/js/controllers/senha.js"></script>
    <script src="public/js/controllers/navbar.js"></script>

</head>

<body class="bg-light" ng-app="sgpa">
    <div ng-controller="NavBarController" layout="column" ng-cloak>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">SGPA - Serviços</h1>
                </md-toolbar>

                <md-content layout-margin="">
                    <p>
                        Sistema de emissão de senha para para painel de chamada.
                    </p>
                    <md-button ng-click="toggleLeft()" class="md-accent">
                        Fechar
                    </md-button>
                </md-content>

            </md-sidenav>

            <md-content flex layout-padding>

                <div layout="column" layout-align="top center">
                    <md-button ng-click="toggleLeft()" class="md-raised">
                        Menu
                    </md-button>
                    <div class="body-view" flex ng-view></div>
                </div>
            </md-content>
        </section>
    </div>
</body>

</html>